[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
flake8 = "*"
black = "*"
isort = "*"
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-extensions = "*"

[requires]
python_version = "3.12"
